<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>

        
           
        h1{
            display:flex;
         justify-content:center; 
         flex-wrap: wrap;
        
            font-size: 40pt;
            color:red;

        }
        p{
            display:flex;
         justify-content:center; 
         flex-wrap: wrap;
        
            font-size: 20pt;
            
        }
        a{
            display:flex;
         justify-content:center; 
         flex-wrap: wrap;
        
        }
    </style>
</head>
<body>
    
</body>
</html>
<h1>ABOUT</h1>
<p>멋쟁이사자처럼 정성민이 만든 작품입니다</p>
<p>단어를 세주죠.</p>

<a href="{% url 'home' %}">home으로 가기</a>
